@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Lora&family=Plus+Jakarta+Sans&display=swap');
@font-face {
  font-family: PoliteType;
  src: url('/fonts/PoliteType-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.layout {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
.colors {
    color: #22272B;
    background-color: #D8FCEC;
  }

.name {
    color: #22272B;
    font-family: PoliteType;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 65px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

.awc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
    padding: 62px 20px;
}
/* 
.flag {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: lightgray 50% / cover no-repeat;
}

.vector {
    border: none;
    padding: 0;
    background: none;
}

.vector img {
    width: 8px;
    height: 4.348px;
} */

@media (max-width: 768px) {
  .layout {
    display: flex;
    padding: 5% 12%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .name {
      flex: 0 0 100%;
      text-align: left;
      font-size: 130%;
  }

  .menu {
      flex: 0 0 100%;
      justify-content: flex-end;
      gap: 2%; 
  }

  .awc {
      flex: 0 0 100%;
      padding: 3% 2%;
      gap: 2%;
  }

  .flexContainer {
      gap: 2%;
  }
}