@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Lora&family=Plus+Jakarta+Sans&display=swap');
@font-face {
    font-family: PoliteType;
    src: url('/fonts/PoliteType-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.layout {
    padding: 8% 7%;
    padding-bottom: 14%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
    background: #FFF;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.h1 {
    color: #22272B;
    font-family: PoliteType;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.projectcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 1%;
}

.h2 {
    color: #22272B;
    font-family: PoliteType;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 46px */
    padding: 20px 0px;
    margin: 0;
}

.img {
    height: 270px;
    width: 360px;
    box-shadow: 5px 5px 15px -1.5px rgba(34, 39, 43, 0.2);
    border-radius: 5px;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.1); 
}