@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Lora&family=Plus+Jakarta+Sans&display=swap');

.layout {
    display: flex;
    padding: 120px 104px;
    padding-bottom: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 47px;
    background: #FFF;
}

.projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.h1 {
    width: 569px;
    color: #22272B;
    font-family: PoliteType, Plus Jakarta Sans;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 46px */
}

.h2 {
    width: 500px;
    color: #22272B;
    font-family: PoliteType, Plus Jakarta Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 46px */
    padding: 20px 0px;
}

.img {
    height: 270px;
    width: 360px;
    box-shadow: 5px 5px 15px -1.5px rgba(34, 39, 43, 0.2);
    border-radius: 5px;
    object-fit: cover;
}

.img:hover {
    transform: scale(1.5); 
}