@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Lora&family=Plus+Jakarta+Sans&display=swap');
@font-face {
    font-family: PoliteType;
    src: url('/fonts/PoliteType-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.githubcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    flex: 1 0 0;
}

.githubcontent {
    display: flex;
    padding: 45px 0px 0px 45px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.btn1{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    color: var(--taffy, #041514);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: 0.7px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.h1 {
    width: 569px;
    color: var(--taffy, #041514);
    font-family: PoliteType;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.blue {
    background-color: #BCC3FF;
}

.orange {
    background: #FFD8AA;
}

.blue .btn1 {
    background: linear-gradient(0deg, rgba(188, 195, 255, 0.45) 0%, rgba(188, 195, 255, 0.45) 100%), #FFF;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.orange .btn1{
    background: linear-gradient(0deg, rgba(255, 216, 170, 0.45) 0%, rgba(255, 216, 170, 0.45) 100%), #FFF;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.a {
    text-decoration: none;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
    position: relative;
}

.screenwrapper {
    padding-left: 0px;
    background: #22272B;
    aspect-ratio: 469/300;
    width: 70%;
    border-radius: 5px 0px 0px 0px;
    position: relative;
}